.job-poster-profile-card-wrapper {
  margin-top: 30px;
  border-radius: 10px;
  background-color: #f1f6fc;
}

.job-poster-profile-card-wrapper .content-wrapper {
  padding: 30px;
}

.details-button {
  border-bottom-left-radius: 10px;
  text-align: center;
  color: white;
  background-color: #1A3E60;
  cursor: pointer;
}

.chat-button {
  border-bottom-right-radius: 10px;
  text-align: center;
  color: white;
  background-color: #3183CD;
  cursor: pointer;
}