.job-poster-profile-card-wrapper {
  margin-top: 30px;
  border-radius: 10px;
  background-color: #F8FBFF;
  box-shadow: 0px 2px 9px 4px rgba(216,216,216,0.5);
  -webkit-box-shadow: 0px 2px 9px 4px rgba(216,216,216,0.5);
  -moz-box-shadow: 0px 2px 9px 4px rgba(216,216,216,0.5);
}

.job-poster-profile-card-wrapper .content-wrapper {
  padding: 30px;
}

.details-button {
  border-bottom-left-radius: 10px;
  text-align: center;
  color: white;
  background-color: #1A3E60;
}

.chat-button {
  border-bottom-right-radius: 10px;
  text-align: center;
  color: white;
  background-color: #3183CD;
}